# DO NOT SHOW THIS FILE TO ANYONE! IF YOU ARE GOING TO POST
# YOUR VERSION OF THIS BOT ANYWHERE (like GitHub), MAKE SURE 
# THAT THERE IS A `config.toml` line IN THE `.gitignore` FILE!
# (in the original bot in .gitignore this line is written by default)

# If you dont know, where you should get required data, read 
# [README.md -> Preparing](https://github.com/neocim/steal_stickers_bot?tab=readme-ov-file#preparing).

[bot]
# should be a string
bot_token = ""

[tg_app]
# should be an integer number
api_id = 
# should be a string
api_hash = ""

# Authentication is needed in order to connect the Telegram client and it was
# possible to do things that cannot be done without it
# (for example, to receive the ID of the owner of the sticker pack).
[auth]
# enter number without '+'. Example: `phone_number = "491721234567"`
phone_number = ""
# enter only if you have two-step verification enabled
password = ""

[tracing]
# default
log_level = "debug"

[postgres]
# full URL will looks like: "postgres://{username}:{password}@{host}:{port}/{db}"
# default and must be changed
username = "admin"
password = "admin"
host = "steal_stickers.postgres"
port = "5432"
db = "db"
